<div id="home">
  <header id="masthead">
    <div class="container">
      <a href="index.html" id="logo">
        <img src="./public/images/logo.png">
      </a>
      <nav>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="#">Sign up!</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sign in</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="row">
    <div class="col-li">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Create wishlists for birthdays, registries, fundraisers, and more!</h5>
          <p class="card-text">Simple and easy-to-use</p>
          <li class="card-text">Add wishlists to your account.</li>
          <li class="card-text">Manage your wishlists.</li>
          <li class="card-text">Subscribe to other members' wishlists.</li>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/index.js"></script>