<header id="masthead">
    <div class="container">
        <a href="/" id="logo">
            <img src="../public/images/logo.png">
        </a>
        <nav>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Log In</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<div class="card">
    <h5 class="card-header">Log in to your Wishlist account</h5>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="emailLogIn" aria-describedby="usernameHelp">
                <small id="usernameHelp" class="form-text text-muted">Enter your Wishlist email.</small>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="passwordLogIn">
            </div>
            <button type="submit" class="btn btn-primary" id="submitLogIn">Submit</button>
        </form>
        <br><br>

        <p><i>- or -</i></p>
        <br><br>

        <a href="/signup">Create a new account.</a>
    </div>
</div>

<script src="/js/firebase.js"></script>
