<div class="card">
    <h5 class="card-header">Create a new Wishlist</h5>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="listName">Name of Wishlist</label>
                <input type="text" class="form-control" id="wishlist" aria-describedby="usernameHelp">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>