<header id="masthead">
    <div class="container">
        <a href="/" id="logo">
            <img src="../public/images/logo.png">
        </a>
        <nav>
            <ul class="nav justify-content-end">
                <p>Welcome {{this.uname}}</p>
                <li class="nav-item">
                    <a class="nav-link" href="#">Create a new list</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">View your lists</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<div class="card">
    <h5 class="card-header">Search for members</h5>
    <div class="card-body">
        <form action="" method="GET">
            <div class="form-group">
                <label for="member">Member name</label>
                <input type="text" class="form-control" id="member">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</div>

<div class="card-body">
    <div class="container">
        <h4 class="card-header" id="memberList">{{ this.CreatorID }}'s Wishists</h5>
            <div class="col-md-6 text-center" class="tableList">
                <div class="row">
                    {{#each wishlist}}
                    <div class="col-md-9 text-center">
                        <pre>{{this._name}}
					</pre>
                    </div>
                    <div class="col-md-3 text-center">
                        <form id="subscribe">
                            <input input type="hidden" type="text" value={{this.id}}>
                            <br>
                            <button type="submit" class="btn btn-default">Subscribe!</button>
                        </form>
                    </div>
                    {{/each}}
                </div>
            </div>
    </div>
</div>