<header id="masthead">
    <div class="container">
        <a href="index.html" id="logo">
            <img src="../public/images/logo.png">
        </a>
        <nav>
            <ul class="nav justify-content-end">
                <p>Welcome {{ this.uname }}</p>
                <li class="nav-item">
                    <a class="nav-link" href="#">Search for members</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Create a new list</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">View your lists</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<div id="list">
    <div>
        <h3>unchecked</h3>
        {{#each items}} {{#unless checked}} {{>lists-block checked=false}} {{/unless}} {{/each}}
    </div>
    <div>
        <h3>checked</h3>
        {{#each items}} {{#if checked}} {{>lists-block checked=true}} {{/if}} {{/each}}
    </div>
</div>

<div id="comments">
    <div>
        <h3>comments</h3>
        {{#each comments}} {{>comments-block}} {{/each}}
    </div>

</div>