<div id="home">
  <header id="masthead">
    <div class="container">
      <a href="/" id="logo">
        <img src="/images/logo.png">
      </a>
      <nav>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="/signup">Sign up!</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Log in</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="row">
    <div class="col-10 offset-1">
      <div class="card">
        <h5 class="card-header">Create wishlists for birthdays, registries, fundraisers, and more!</h5>
        <div class="card-body">
          <p class="card-text">Simple and easy-to-use</p>
          <li class="card-text">Add wishlists to your account.</li>
          <li class="card-text">Manage your wishlists.</li>
          <li class="card-text">Subscribe to other members' wishlists.</li>
        </div>
      </div>
    </div>
  </div>

  <script>
    firebase.auth().onAuthStateChanged(user => {
      if (user) {
        API.get.user.byEmail(user.email).then(function (result) {
          console.log(result)
          temp = result;
          localStorage.setItem('id', result.result[0].id);
          localStorage.setItem('uname', result.result[0].uname);
          localStorage.setItem('email', result.result[0].email);
        });
        console.log(firebase.auth().currentUser)
        window.location = '/wishlist/new_list';
        window.user = user;
      }
    });
  </script>