<header id="masthead">
    <div class="container">
        <a href="/" id="logo">
            <img src="/images/logo.png">
        </a>
        <nav>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Log In</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<div class="card">
    <h5 class="card-header">Log in to your Wishlist account</h5>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="emailLogIn" aria-describedby="usernameHelp">
                <small id="usernameHelp" class="form-text text-muted">Enter your Wishlist email.</small>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="passwordLogIn">
            </div>
            <button type="submit" class="btn btn-primary" id="submitLogIn">Submit</button>
        </form>
        <br><br>

        <p><i>- or -</i></p>
        <br><br>

        <a href="/signup">Create a new account.</a>
    </div>
</div>

<script>

$("#submitLogIn").on("click", function (event) {
    // prevent page from refreshing when form tries to submit itself
    event.preventDefault();
    // Capture user inputs and store them into variables
    var email = $("#emailLogIn").val().trim();
    var password = $("#passwordLogIn").val().trim();
    console.log(email);
    console.log(password);
    // Clear sessionStorage
    sessionStorage.clear();
    // Store all content into sessionStorage
    sessionStorage.setItem("email", email);

    firebase.auth().signInWithEmailAndPassword(email, password).catch(function (error) {
        alert(error.message);
    })
});




firebase.auth().onAuthStateChanged(user => {
    if (user) {
        API.get.user.byEmail(user.email).then(function(result){
            console.log(result)
            temp=result;
            localStorage.setItem('id',result.result[0].id);
            localStorage.setItem('uname',result.result[0].uname);
            localStorage.setItem('email',result.result[0].email);
        });
        console.log(firebase.auth().currentUser)
        window.location = '/wishlist/new_list'; 
        window.user = user;
    }
});

</script>

