<header id="masthead">
    <div class="container">
        <a href="/" id="logo">
            <img src="/images/logo.png">
        </a>
        <nav>
            <ul class="nav justify-content-end">
                <p id="loggeduser"></p>
                <li class="nav-item">
                    <a class="nav-link" href="/wishlist/search">Search for members</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/wishlist/new_list">Create a new list</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/wishlist/yourlists">View your lists</a>
                </li>
                <li class="nav-item">
                    <a id="logOut" class="nav-link" href="#">log out</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<div class="card">
    <h5 class="card-header">Create a new Wishlist</h5>
    <div class="card-body">
        <form action="/api/wishlists" method="POST">
            <div class="form-group">
                <label for="listName">Name of Wishlist</label>
                <input type="text" id="wishlist_name_input" class="form-control" id="wishlist" aria-describedby="usernameHelp">
            </div>
            <div class="form-group">
                <label for="item">List Privacy:*coming soon*</label>
                <br>
                <input type="radio" name="state" value="0" checked> Private
                <br>
                <input type="radio" name="state" value="1"> Public
            </div>
            <button id="makeWishlist" class="btn btn-primary">Create list</button>
        </form>
    </div>
</div>
<script>
    $("#loggeduser").html("welcome "+localStorage['uname']);
    $("#makeWishlist").on("click",function(event){
        let wishlistname = $("#wishlist_name_input").val()
        
        API.create.wishlist(wishlistname,localStorage['id'],true).then(function(result){
            console.log(result)
            window.location.href = '/wishlist/'+result.id;
        })
    })


    $("#logOut").on("click", function (event) {
    event.preventDefault();
    firebase.auth().signOut().then(function(){localStorage.clear();window.location.href = "/";}).catch(function (error) {
        console.log(error.message);
    });
});
</script>