<header id="masthead">
    <div class="container">
        <a href="/" id="logo">
            <img src="/images/logo.png">
        </a>
        <nav>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Log In</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<div class="card">
    <h5 class="card-header">Create a new Wishlist account</h5>
    <div class="card-body">
        <form action="/api/users" method="POST"> 
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" aria-describedby="usernameHelp">
                <small id="usernameHelp" class="form-text text-muted">Enter your new Wishlist username.</small>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password">
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <button type="submit" class="btn btn-primary" id="submitNewUser">Submit</button>
        </form>
    </div>
</div>

<script>
$("#submitNewUser").on("click", function (event) {
    // prevent page from refreshing when form tries to submit itself
    event.preventDefault();
    // Capture user inputs and store them into variables
    var username = $("#username").val().trim();
    var pass = $("#password").val().trim();
    var email = $("#email").val().trim();
    console.log(username);
    console.log(email);
    //console.log(pass);
    // Clear sessionStorage
    sessionStorage.clear();
    // Store all content into sessionStorage
    sessionStorage.setItem("name", name);
    sessionStorage.setItem("email", email);

    firebase.auth().createUserWithEmailAndPassword(email, pass).then(function(user){
        console.log(user);
        API.create.user(username,email).then(function(result){console.log(result)
        if(result.redundantname){alert("a user with that name already exists :(")}
        })
        
    }).catch(function (error) {
        alert(error.message);
    });
})




    firebase.auth().onAuthStateChanged(user => {
    if (user) {
        API.get.user.byEmail(user.email).then(function(result){
            console.log(result)
            temp=result;
            localStorage.setItem('id',result.result[0].id);
            localStorage.setItem('uname',result.result[0].uname);
            localStorage.setItem('email',result.result[0].email);
        });
        console.log(firebase.auth().currentUser)
        window.location = '/wishlist/new_list'; 
        window.user = user;
    }
});
</script>