<header id="masthead">
    <div class="container">
        <a href="index" id="logo">
            <img src="/images/logo.png">
        </a>
        <nav>
            <ul class="nav justify-content-end">
                <p>Welcome {{this.uname}}</p>
                <li class="nav-item">
                    <a class="nav-link" href="/wishlist/search">Search by user</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/wishlist/new_list">Create a new list</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/wishlist/yourlists">View your lists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/wishlists/subscriptions">View your subscriptions</a>
                </li>
                <li class="nav-item">
                    <a id="logOut" class="nav-link" href="/">Log out</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<div class="card">
    <h5 class="card-header">Search for members</h5>
    <div class="card-body">
        <form action="" method="GET">
            <div class="form-group">
                <label for="member">Member name</label>
                <input type="text" class="form-control" id="member">
            </div>
            <button id="searchbycreator" class="btn btn-primary">Search</button>
        </form>
    </div>
</div>
<div id="wishlists">

</div>

<script>
    $("#searchbycreator").on("click", function (event) {
        event.preventDefault();
        let creatorname = $("#member").val();
        API.get.wishlists.byCreatorName(creatorname).then(function (result) {
            console.log(result)
            $("#wishlists").empty();
            result.forEach(element => {
                $("#wishlists").append("<button class='wishlistButton' data-id='" + element.id + "'>" + element._name + "</button> ");
            });
            $(".wishlistButton").on("click", function (event) {
                let id = $(this).attr("data-id");
                window.location.href = "/wishlist/" + id
            })
        })
    })

    $("#logOut").on("click", function (event) {
        event.preventDefault();
        firebase.auth().signOut().then(function () { localStorage.clear(); window.location.href = "/"; }).catch(function (error) {
            console.log(error.message);
        });
    });

</script>