<header id="masthead">
    <div class="container">
        <a href="index" id="logo">
            <img src="/images/logo.png">
        </a>
        <nav>
            <ul class="nav justify-content-end">
                <p>Welcome {{uname}}</p>
                <li class="nav-item">
                    <a class="nav-link" href="/wishlist/search">Search by user</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/wishlist/new_list">Create a new list</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/wishlist/yourlists">View your lists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/wishlists/subscriptions">View your subscriptions</a>
                </li>
                <li class="nav-item">
                    <a id="logOut" class="nav-link" href="/">Log out</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<div class="card">
    <h5 class="card-header">Lists you are subscribed to</h5>

</div>
<div id="wishlists">

</div>

<script>

    console.log(localStorage.id)
    API.get.subscriptions.bySubscriberID(parseInt(localStorage.id)).then(function(subs){
        console.log(subs)

    $("#wishlists").empty();
    subs.forEach(element => {
        console.log(element)
        API.get.wishlists.byWishlistID(element.wishlistID).then(function(result){
            console.log(result)
            $("#wishlists").append("<button class='wishlistButton' data-id='"+result[0].id+"'>"+result[0]._name+"</button> ");
        
        $(".wishlistButton").on("click",function(event){
        console.log("testoooo");
      let id=$(this).attr("data-id");
      window.location.href = "/wishlist/"+id;
    });
        })


    })
 });

 $("#logOut").on("click", function (event) {
    event.preventDefault();
    firebase.auth().signOut().then(function(){localStorage.clear();window.location.href = "/";}).catch(function (error) {
        console.log(error.message);
    });
});






</script>