<header id="masthead">
    <style>.checkedOff {text-decoration: line-through;}</style>
    <div class="container">
        <a href="/" id="logo">
            <img src="/images/logo.png">
        </a>
        <div id="metadata" data="{{wishlist.id}}"></div>
        <nav>
            <ul class="nav justify-content-end">
                <p> {{wishlist._name}}</p><hr>
                <p>created by: {{creatorName}}</p><hr>
                <li class="nav-item">
                    <a class="nav-link" href="/wishlist/search">Search by user</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/wishlist/new_list">Create a new list</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/wishlist/yourlists">View your lists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/wishlists/subscriptions">View your subscriptions</a>
                </li>
                <li class="nav-item">
                    <a id="logOut" class="nav-link" href="/">Log out</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<button id="subscribe"></button>
<div id="list">
    <div>
        {{!-- <h3>unchecked</h3> --}}
        {{#each items}} {{#unless checked}} {{>lists-block checked=false}} {{/unless}} {{/each}}
    </div>
    <div>
        {{!-- <h3>checked</h3> --}}
        {{#each items}} {{#if checked}} {{>lists-block checked=true}} {{/if}} {{/each}}
    {{!-- </div>
    commenting before deleting :)
    <br>
    <hr>
    <h3>add item</h3>
    <br>

    <input id="input-item" type="text">
    </input>
    <br><br>
    <button id="submitItem">Submit</button>
</div> --}}
<hr>

<div id="comments">
    <div>
        <h3>comments</h3>
        {{#each comments}} {{>comments-block}} {{/each}}
    </div>

<input id="input-comment" type="text">
</input>
<br><br>
<button id="submitComment">Submit</button>

</div>



<script>
    // click events and logic for wishlist page


function subButton(){
    API.get.subscriptions.isSubscribed(localStorage.id,$("#metadata").attr("data"))
    .then(function(result){
        console.log(result)
    if(result.bool)
    {$("#subscribe").text("unsubscribe");
        $("#subscribe").on("click",function(event){
            API.delete.subscription(result.id)
            .then(function(result){
                console.log(result)
                location.reload();
            })
        })
    
    }else{$("#subscribe").text("subscribe")
        $("#subscribe").on("click",function(event){
            API.create.subscription(localStorage.id,parseInt($("#metadata").attr("data")))
            .then(function(result){
                console.log("asdfsfd")
                console.log(result)
                location.reload();
            })
        })
    
    }
    })

}

subButton();

$(".check").on("click", function (event) {
  id = $(this).attr('data-id');
  console.log(id)
  checked = $(this).attr('data-checked');
  console.log(checked)
  if (checked == false) {
    API.update.check(checked, id, "feature coming soon").then(function (result) { console.log(result); location.reload() });
  }
  if(checked){API.update.check(checked,id,"nobody").then(function(result){console.log(result);location.reload();})}
  
});
console.log("loaded")

$("#submitItem").on("click", function (event) {
  let name = $("#input-item").val();
  url = window.location.href;
  url = url.split('/');
  id = url.pop();
  API.create.item(name, id).then(function (result) {
    location.reload();
  });
});

$("#submitComment").on("click",function(event){
    console.log("affasfd")
    let msg = $("#input-comment").val().trim();
    let id = localStorage.id;
    let url = window.location.href;
    url = url.split('/');
    let wlid = url.pop();
    API.create.comment(msg,id,wlid).then(function(result){
        console.log("result");
        location.reload();
    })
})

$("#logOut").on("click", function (event) {
    event.preventDefault();
    firebase.auth().signOut().then(function(){localStorage.clear();window.location.href = "/";}).catch(function (error) {
        console.log(error.message);
    });
});
</script>